.edge-distortion {
  animation: anim ease 4s infinite;
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0) 20%,
    rgba(1, 111, 255, 0.075) 60%,
    rgba(208, 255, 0, 0.075)
  );
  position: fixed;
  bottom: 0;
  height: 10svh;
  mix-blend-mode: lighten;
  pointer-events: none;
  width: 100%;
  transform-origin: 100% 90%;
  z-index: 98;
}

@keyframes anim {
  0% {
    opacity: 0.9;
    transform: skewX(-20deg);
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0.9;
    height: 70px;
  }

  30% {
    opacity: 1;
    transform: skewX(-20deg);
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.9;
    transform: skewX(-20deg);
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  80% {
    opacity: 1;
    height: 100px;
  }

  90% {
    opacity: 1;
    transform: skewX(-20deg);
  }

  100% {
    opacity: 0.9;
  }
}
