.work-scroll-gallery__item {
  list-style: none;
}

.work-scroll-gallery__image {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.6);
  height: 60svh;
}

.work__footer {
  background-color: var(--color--a);
  min-height: 1000px;
  position: relative;
  z-index: 1;
}
