@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Press+Start+2P&family=Stalinist+One&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color--a: #171617;
  --color--b: #b46e12;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family--primary: "Cormorant Garamond", serif;
  --font-family--secondary: "Outfit", sans-serif;
  --font-family--tertiary: "Orbitron", sans-serif;
  --font-family--quaternary: "Press Start 2P", system-ui;
  --font-family--quinary: "Stalinist One", sans-serif;
  --font-family--senary: "IBM Plex Mono", monospace;
}

a {
  text-decoration: inherit;
}

div {
  /* outline: 1px solid blue; */
}

body,
html {
  background-color: #171617;
  font-size: 62.5%;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 36px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  /* left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0; */
}

/* .page-wrapper {
  position: relative;
  left: calc((100vw - 100%) / 2);
} */
